
<table class="table table-striped table-hover table-bordered">
<thead>
  <th style="display:none">_id</th>
  <th>班级号</th>
  <th>姓名</th>
  <th>年龄</th>
  <th>操作</th>

</thead>
<tr ng-repeat="group in groups | orderBy:'name'">
  <td style="display:none">
      {{ group._id }}
  </td>
  <td>
      {{ group.class_id }}
  </td>
  <td>
     {{ group.name }}
  </td>
  <td>
     {{ group.age }}
  </td>
  <td>
      <a href="#/EditGroups/{{ group._id }}" style="text-align: center;">
          修改
      </a>
        |
      <a href="#/DeleteGroups/{{ group._id }}" style="text-align: center;">
          删除
      </a>
  </td>
</tr>
</table>



